<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ARM_AGRANOM_.Properties.Settings.ARM_AGRONOMConnectionString"
            connectionString="Data Source=STEM;Initial Catalog=ARM_AGRONOM;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>